In [1]:
# Data
students_data = [
	["Alice", [85, 90, 92], ["Math", "English", "Science"]],
	["Bob", [78, 88, 80], ["Math", "English", "Science"]],
	["Charlie", [92, 94, 89], ["Math", "English", "Science"]],
	["David", [80, 85, 88], ["Math", "English", "Science"]],
]

In [2]:
# Sorting Function
def getStudents(arr: list):

	# Traversal
	for i in arr:
		ave = 0
		for j in i[1]:
			ave += j
		ave /= len(i[1])
		ave *= 100
		ave //= 1
		ave /= 100
		if(len(i) < 4):
			i.append(ave)
		else:
			i[3] = ave

	return arr

In [3]:
# Sort [Bubble Sort]
def sorting(arr):
	for i in range(len(arr)):
		for j in range(len(arr)):
			if arr[i][-1] < arr[j][-1]:
				arr[i], arr[j] = arr[j], arr[i]
	return arr

In [4]:
# Get all average and round by 2 decimal places
students_data = getStudents(students_data)
students_data

[['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Bob', [78, 88, 80], ['Math', 'English', 'Science'], 82.0],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66],
 ['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33]]

In [5]:
students_data = sorting(students_data)
students_data

[['Bob', [78, 88, 80], ['Math', 'English', 'Science'], 82.0],
 ['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33],
 ['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66]]

In [6]:
# Eva Added
students_data.append(["Eva", [95, 91, 88], ["Math", "English", "Science"]])
students_data

[['Bob', [78, 88, 80], ['Math', 'English', 'Science'], 82.0],
 ['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33],
 ['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66],
 ['Eva', [95, 91, 88], ['Math', 'English', 'Science']]]

In [7]:
# New Data with Eva
students_data = getStudents(students_data)
backup_data = [i for i in students_data]
students_data

[['Bob', [78, 88, 80], ['Math', 'English', 'Science'], 82.0],
 ['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33],
 ['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66],
 ['Eva', [95, 91, 88], ['Math', 'English', 'Science'], 91.33]]

In [8]:
# Sort for removal
students_data = sorting(students_data)

In [9]:
# Removed lowest Average
students_data.pop(0)
students_data

[['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33],
 ['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Eva', [95, 91, 88], ['Math', 'English', 'Science'], 91.33],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66]]

In [10]:
# Print all english scores
english_scores = []
for i in range(len(backup_data)):
	english_scores.append(backup_data[i][1][1])
students_data

[['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33],
 ['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Eva', [95, 91, 88], ['Math', 'English', 'Science'], 91.33],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66]]

In [11]:
# Sort with Math Scores [Bubble sort] and Print Students
maths = [i for i in backup_data]
for i in range(len(maths)):
	for j in range(len(maths)):
		if maths[i][1][0] > maths[j][1][0]:
			maths[i], maths[j] = maths[j], maths[i]

students_data

[['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33],
 ['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Eva', [95, 91, 88], ['Math', 'English', 'Science'], 91.33],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66]]

In [12]:
# Overall Average
overall = 0
for i in backup_data:
	overall += i[-1]

overall /= len(backup_data)
overall

87.664

In [13]:
# Average thru subjects
english_scores = 0
math_scores = 0
science_scores = 0

for i in backup_data:
	math_scores += i[1][0]
	english_scores += i[1][1]
	science_scores += i[1][2]

english_scores /= len(backup_data)
math_scores /= len(backup_data)
science_scores /= len(backup_data)

subj_data = [english_scores, math_scores, science_scores]

In [14]:
# English Score
english_scores

86.0

In [15]:
# Math Score
math_scores

89.6

In [16]:
# Sscience Score
science_scores

87.4

In [17]:
# Sorting the subject data and get the highes average
subjs = backup_data[0][-2]
for i in range(len(subj_data)):
	for j in range(len(subj_data)):
		if subj_data[i] > subj_data[j]:
			subj_data[i], subj_data[j] = subj_data[j], subj_data[i]
			subjs[i], subjs[j] = subjs[j], subjs[i]

In [18]:
subj_data[0]
subjs[0]

'English'

In [19]:
# Replace Bob's score
for i in range(len(backup_data)):
	if backup_data[i][0] == "Bob":
		backup_data[i][1] = [85, 87, 90]
backup_data

[['Bob', [85, 87, 90], ['English', 'Science', 'Math'], 82.0],
 ['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33],
 ['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66],
 ['Eva', [95, 91, 88], ['Math', 'English', 'Science'], 91.33]]

In [20]:
backup_data = getStudents(backup_data)
backup_data

[['Bob', [85, 87, 90], ['English', 'Science', 'Math'], 87.33],
 ['David', [80, 85, 88], ['Math', 'English', 'Science'], 84.33],
 ['Alice', [85, 90, 92], ['Math', 'English', 'Science'], 89.0],
 ['Charlie', [92, 94, 89], ['Math', 'English', 'Science'], 91.66],
 ['Eva', [95, 91, 88], ['Math', 'English', 'Science'], 91.33]]